.single-post  {
    background: #e6e7e9;

    // social sharing
    aside.social-share-holder {
        // also includes margin set below, for clarity purposes
        // margin-bottom: 2rem;
        
        @include media-breakpoint-up(lg) {
            padding: 0;
            margin-left: calc(.9375rem * 2);
            margin-right: 0;
        }
        .social-share-links {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            li {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;
                
                i {
                    font-size: 1.25rem;
                    color: $gold;
                }
            }
    
            @include media-breakpoint-down(lg) {
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                li {
                    margin-bottom: 0;
                }
            }
        
        }
    }

    @include media-breakpoint-down(lg) {
        aside {
            order: 2;
        }
    }
    
    // main blog post
    article {
        aside, nav {
            margin-bottom: 3rem;
        }
        
        main {
            
            .image-and-sharing {
                display: flex;

                @include media-breakpoint-down(md) {
                    flex-direction: column;
                }
            }
            .featured-image-holder {
                position: relative;
                margin-bottom: 2.5rem;
                
                img {
                    width: 100%;
                    box-shadow: -5px 5px 10px 5px gray;
                }
            }

            .post-meta {

                .category-holder {
                    text-transform: uppercase;
                    color: $red;
                }

                .title {
                    color: $blue;
                    text-align: left;
                    text-transform: capitalize;
                    // line-height: 1.1;
                    // font-size: 3rem;
                    
                    // @include media-breakpoint-down(lg) {
                    //     font-size: 1.5rem !important;
                    //     line-height: 1.2 !important;
                    // }
                }
                
                .date {
                    display: block;
                    color: $blue;
                    margin-bottom: .5rem;
                }
            }

            .content-holder {
                @include media-breakpoint-up(lg) {
                    padding-right: 20%
                }
                color: #545557;
                border-bottom: 1px solid $gold;

                p {
                    line-height: 2;
                    margin-bottom: 1.5rem;
                }
            }
            
        
        }

        nav {
            .nav-links a {
                text-transform: uppercase;

                i {
                    display: none;
                }
            }
        }

    }

    @include media-breakpoint-down(lg) {
        // want to make sure we're only targeting the main article for column, not related posts in the aside.
        .row > article {
            flex-direction: column;
            
            & > aside, & > main {
                width: calc(100% - 1.875rem) !important;

                .related-posts, .recent-posts {
                    padding-left: 0.9375rem;
                    padding-right: 0.9375rem;
                }
            }
        }
    }
    
    // sidebar
    aside {
        padding-top: 3rem;
        .related-posts {
            // also includes margin set above, for clarity purposes:
            // margin-bottom: 2rem;
            border-top: 1px solid $gold;
            padding-top: 1.5rem;
            
            h2 {
                font-size: 1rem;
                text-align: left;
                color: $red;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
            }

            article {
                margin-top: 1.5rem;
                padding-bottom: 1.5rem;
                border-bottom: 1px solid $gold;

                .image-holder {
                    text-align: left;
                    margin-bottom: 1rem;

                    img {
                        box-shadow: -5px 5px 5px -2px gray;
                    }
                }

                .meta-holder {
                    text-align: left;
                }
            
                h3 {
                    line-height: 1.25;
                    text-transform: capitalize;
                    font-size: 1rem;
                    padding: 0;
                    margin: 0;
                    a {
                        color: $blue;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
                
                .post-date {
                    color: $blue;
                    font-size: 0.75rem;
                    display: block;
                    margin-bottom: .5rem;
                }
                
                .excerpt-holder {
                    color: #545557;
                    font-size: 0.8rem;
                    text-align: left;
                    display: block;
                }
            }

            &:last-child article:last-child {
                margin-bottom: 0;
            }
        }
    }
}
