/**** Page header ****/
.page-title {
    background: url('/#{$app-base-folder}/images/interior-hero.jpg') no-repeat 85%;
    body.registration & {
        background: url('/#{$app-base-folder}/images/heros/register-page-hero.jpg') no-repeat 85%;
        background-size: cover;
        border-bottom: 10px solid $gold;
    }
    
    body.kit-options & {
        background: url('/#{$app-base-folder}/images/heros/kit-option-page-hero.jpg') no-repeat 85%;
        background-size: cover;
        border-bottom: 10px solid $gold;

        @include media-breakpoint-down(md) {
            background-position: 60%;
        }
    }

    body.blog & {
        background-position-x: 15%;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 10px solid $gold;

        h1 {
            text-transform: none;
        }
    }

    background-size: cover;
    height: 250px;

        h1 {
            font-size: 2.777777778rem;
            font-weight: bold;

            @include media-breakpoint-up(lg) {
                font-size: 2.666666667rem;
            }
        }

        h2 {
            font-size: 1.666666667rem;
            font-weight: 400;

            @include media-breakpoint-up(lg) {
                font-size: 1.75rem;
            }
        }
    

    @include media-breakpoint-down(sm) {
        height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .overlay {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 3%;
    }
    
    .page-title {
        background: linear-gradient( rgba(0,0,0,0.7));
    }

}

.interior-page-title {
    color: $gold;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
}
